@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import '../../styles/root.css';

#pesquisa{
  width: 60px;
  margin-top: 7px !important;
  height: 40px;
}

#buscar-paciente{
  
  width: 200px;
  margin-top: 7px !important;
  height: 40px;
}

